OPENAI_API_KEY=

# Enter either your Vonage Video Application or OpenTok Project Credentials

# Vonage Video Application credentials
VONAGE_APPLICATION_ID=YOUR_APPLICATION_ID
VONAGE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-----END PRIVATE KEY-----"
#VONAGE_PRIVATE_KEY=/path/to/key/file

# OR OpenTok video project credentials
OPENTOK_API_KEY=YOUR_API_KEY
OPENTOK_API_SECRET=YOUR_API_SECRET

# A Vonage Video Session
VONAGE_SESSION_ID=YOUR_SESSION_ID

# Websocket URL of your Pipecat server (ngrok or production)
WS_URI=wss://<your-ngrok-domain>/ws

# One-way translation configuration (always one-way)
SOURCE_LANGUAGE=Spanish
TARGET_LANGUAGE=English

# Optional
VONAGE_AUDIO_RATE=16000
# API base override (optional).
# OpenTok path default: https://api.opentok.com
# Application auth path default: api.vonage.com
#API_URL=https://api.opentok.com
OPENAI_REALTIME_MODEL=gpt-4o-realtime-preview-2025-06-03
